#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 85%;
     max-width: 30px; 
    font-size: 50px;
    background-color: transparent;
    color: #38a1f3;
    border: none;
    padding: 10px 13px;
}

.nav-link i{
    font-size: 30px;
    color: #fea1f2;
}
.class1{
    background-color: rgb(28, 24, 22);
    color: white;
    font-size: 40px;
    text-align: center;
}
.nav-link{
    font-weight: bold;
    color: #fea1f2;
    font-size: 20px;
}
.class1{
    background-color: rgb(28, 24, 22);
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
.explore{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 20px;
}
.class2{
    background-color: white;
    color: rgb(28, 24, 22);
    font-size: 40px;
    margin: 30px;
    padding: 20px;
}
#section4{
    display: flex;
    flex-wrap: wrap;
    
}
figure{
    display: inline-block;
    padding: 2em;
}
figcaption{
    text-align: left;
}
.but{
    background-color: #fea1f2;
    border-radius:20px;
    border: none;
    padding: 10px 10px;
    margin-top: 10px;
    color: white;
 }
  .but:hover{
   cursor: pointer;
   background-color: grey;
  }
  .toy a{
      text-decoration: none;
      color: white;
  }
.toy a:hover{
    text-decoration: none;
    color: white;
}
  .clm1 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .rm1::after {
    content: "";
    clear: both;
    display: table;
  }


.section6{
    height: 280px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("over.jpg");
    
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
.overlay h1 {
    letter-spacing: 0px;
    margin: 0 0 5px;
  }
  
.overlay p {
    margin: 0;

  }
  


footer{
    margin-top: 100px;
}

footer p{
    color: #999;
    line-height: 25px;
}
footer h2,h3{
    color: #fff;
}
footer h2{
    font-size: 18px;
}
.footer-top{
    background-color:black;
    padding: 80px 0;
}
.segment-two,.segment-three,.segment-four{
    margin-top: 25px;
}
.segment-one h3{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    font-weight: bold;
}

.segment-two h2{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}
.segment-two h2:before{
    content: '|';
    color: #fea1f2;
    padding-right: 10px;
}
.segment-two ul,.segment-one ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li,.segment-one ul li{
    border-bottom: 1px solid rbg(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a,.segment-one ul li a{
    color: #999;
    text-decoration: none;
    
}
.segment-two ul li a:hover,.segment-one ul li a:hover{
    color: #fea1f2;
}
.segment-three h2{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}
.segment-three h2:before{
    content: '|';
    color: #fea1f2;
    padding-right: 10px;
}
.segment-three a{
    background-color: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: white;
    padding: 10px 12px;
}
.segment-four h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}
.segment-four h2:before{
    content: '|';
    color: #fea1f2;
    padding-right: 10px;
}
.segment-four form input[type=submit]{
    background-color: #fea1f2;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: white;
    text-transform: uppercase;
}
.footer-botton-text{
    text-align: center;
    color: black;
    line-height: 40px;
}
@media only screen and (min-width:768px) and (max-width:991px){
  .md-mb-30{
      margin-bottom: 30px;
  }
}
@media only screen and (min-width:767px){
    .sm-mb-30{
        margin-bottom: 30px;

    }
    .footer-top{
        padding: 50px 0;
    }
}

.block{
    display: flex;
    flex-wrap: wrap;
}

.section8{
    height:350px;
    width:500px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("educational.png");
    margin: 10px 10px;
    
}

.overlay2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
.overlay2 h1 {
    letter-spacing: 0px;
    margin: 0 0 5px;
    text-align: left;
  }
  
.overlay2 p {
    margin: 0;
    text-align: left;

  }

  .section9{
    height:350px;
    width:500px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("kitchen.jpg");
    margin: 10px 10px;
    
}

.overlay3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
.overlay3 h1 {
    letter-spacing: 0px;
    margin: 0 0 5px;
    text-align: left;
  }
  
.overlay3 p {
    margin: 0;
    text-align: left;

  }